/* ---------------------------- Style pour le composant COLLAPSE ---------------------------- */

@use 'variables' as v;

.collapseHeader {
  display: flex;
  flex-direction: row;
  //justify-content: space-between;
  justify-content: start;
  gap: 15px;
  align-items: center;
  color: v.$blockT-color;
  background: v.$blockB-color;
  padding: 0 20px;
  border-radius: 5px;
  border: none;
  z-index: 1;
  position: relative;

  &__title {
    color: v.$blockT-color;
    font-size: 22px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 5px;
    @media(min-width: v.$breakpoint-mobile) and (max-width: v.$breakpoint-desktop) {
      font-size: 18px;
    }
    @media (max-width: v.$breakpoint-mobile) {
      font-size: 16px;
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  
  &__title:hover {
    color: v.$linkHover-color;
  }

  &__chevron {
    font-size: 35px;
    color: v.$blockT-color;
    padding: 0;
    margin-top: 5px;
    background: none;
    border: none;
    @media(min-width: v.$breakpoint-mobile) and (max-width: v.$breakpoint-desktop) {
      font-size: 30px;
    }
    @media (max-width: v.$breakpoint-mobile) {
      font-size: 25px;
      margin-top: 5px;
    }
  }

  &__chevron:hover {
    color: v.$linkHover-color;
  }

  &__content {
    //min-height: 280px;
    text-align: left;
    color: v.$secondaryT-color;
    font-size: 18px;
    font-weight: 400;
    list-style: inside;
    padding: 20px 20px 20px 20px;
    background-color: v.$secondaryB-color;
    margin-top: -5px;
    margin-bottom: 0;
    border-radius: 5px;
    z-index: 0;
    position: relative;
    @media(min-width: v.$breakpoint-mobile) and (max-width: v.$breakpoint-desktop) {
        font-size: 14px;
        padding: 25px 15px 15px 15px;
        margin-top: -10px;
    }
    @media (max-width: v.$breakpoint-mobile) {
        font-size: 12px;
        padding: 20px 10px 10px 10px;
        margin-top: -10px;
        min-height: auto;
    }
  }
}
