@use 'variables' as v;

.footer {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: v.$blockT-color;
  background-color: v.$blockB-color;
  font-size: 16px;
  font-weight: 500;
  @media(min-width: v.$breakpoint-mobile) and (max-width: v.$breakpoint-desktop) {
    font-size: 16px;
  }
  @media (max-width: v.$breakpoint-mobile) {
    font-size: 14px;
  }

  p {
    font-weight: 400;
    margin-top: 30px;
    margin-bottom: 0;
  }

  &__logos {
    display: flex;
    flex-direction: row;
    font-size: 30px;
    gap: 20px;
    @media(min-width: v.$breakpoint-mobile) and (max-width: v.$breakpoint-desktop) {
      font-size: 24px;
    }
    @media (max-width: v.$breakpoint-mobile) {
      font-size: 20px;
    }

    a {
      color: v.$blockT-color;
    }

    a:hover {
      color: v.$linkHover-color;
      opacity: 0.7;
    }
  }

  &__coord {
    display: flex;
    align-items: baseline;
    gap: 80px;

    &__contact {
      font-size: 16px;
      list-style: none;
      padding-left: 20px;
      padding-right: 20px;
      margin-bottom: 0;
      @media(min-width: v.$breakpoint-mobile) and (max-width: v.$breakpoint-desktop) {
        font-size: 14px;
        padding-left: 10px;
        padding-right: 10px;
      }
      @media (max-width: v.$breakpoint-mobile) {
        font-size: 12px;
        padding-left: 5px;
        padding-right: 5px;
      }

      &--title {
        font-weight: 700;
      }
    }
  }
}
