/* ****************** Style pour la page FICHE PROJET ********************** */

@use 'variables' as v;

.info {
    display: flex;
    flex-direction: column;
    font-family: v.$font-family-base;
    font-weight: 500;
    margin: 76px 100px 30px 100px;
    @media(min-width: v.$breakpoint-mobile) and (max-width: v.$breakpoint-desktop) {
        margin: 60px 50px 15px 50px;
    }
    @media (max-width: v.$breakpoint-mobile) {
        margin: 45px 20px 10px 20px;
    }
}

/* -------------------------- CARROUSEL ------------------ */
.blockCarousel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    /*height: 40vw;*/
}

/* ---------------------------- TITRE ET INFORMATIONS GENERALES --------------- */
.infoBlock {
    display: flex;
    align-items: start;
    margin-top: 5px;
}

.identification {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;

    &__title {
        font-size: 26px;
        color: v.$primaryT-color;
        margin: 0;
        @media(min-width: v.$breakpoint-mobile) and (max-width: v.$breakpoint-desktop) {
            font-size: 22px;
        }
        @media (max-width: v.$breakpoint-mobile) {
            font-size: 16px;
        }
    }

    &__theme {
        margin: 0;
        font-size: 20px;
        @media(min-width: v.$breakpoint-mobile) and (max-width: v.$breakpoint-desktop) {
            font-size: 16px;
        }
        @media (max-width: v.$breakpoint-mobile) {
            font-size: 14px;
        }
    }

    &__lien {
        flex-direction: row;
        justify-content: start;
        font-size: 16px;
        color: v.$secondaryT-color;
        margin-bottom: 10px;
        @media(min-width: v.$breakpoint-mobile) and (max-width: v.$breakpoint-desktop) {
            font-size: 14px;
        }
        @media (max-width: v.$breakpoint-mobile) {
            font-size: 12px;
        }
    }

    &__lien:hover {
        color: v.$linkHover-color;
    }

    &__tags {
        display: flex;
        flex-direction: row;
        justify-content: start;
        gap: 10px;
        @media(min-width: v.$breakpoint-mobile) and (max-width: v.$breakpoint-desktop) {
            flex-wrap: wrap;
            row-gap: 0;
        }
        @media (max-width: v.$breakpoint-mobile) {
            flex-wrap: wrap;
            row-gap: 0;
        }
    
        &--tag {
            border: none;
            font-size: 14px;
            font-weight: 700;
            text-align: center;
            background: v.$blockB-color;
            color: v.$blockT-color;
            border-radius: 10px;
            padding: 3px 22px 3px 22px;
            margin-top: 5px;
            margin-bottom: 5px;
        }
    }
}

/* -------------------------- TAGS ET RATING -------------------------- */
.additional {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 20%;
    gap: 30px;
    @media(min-width: v.$breakpoint-mobile) and (max-width: v.$breakpoint-desktop) {
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-bottom: 10px;
    }
    @media (max-width: v.$breakpoint-mobile) {
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-bottom: 10px;
    }
}

/* ---------------------- INFORMATIONS DETAILLEES (Description et Equipements) ---------------------- */
.details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
    @media (max-width: v.$breakpoint-mobile) {
        flex-direction: column;
        margin-bottom: 0;
    }
    &__block {
        display: flex;
        flex-direction: column;
        width: 100%;
        @media (max-width: v.$breakpoint-mobile) {
            margin-bottom: 25px;
        }

        &__banner {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            color: v.$blockT-color;
            background: v.$blockB-color;
            padding: 5px 20px;
            border-radius: 10px;
            font-size: 18px;
            font-weight: 700;
            border: none;
            z-index: 1;
            position: relative;
            @media(min-width: v.$breakpoint-mobile) and (max-width: v.$breakpoint-desktop) {
                font-size: 16px;
            }
            @media (max-width: v.$breakpoint-mobile) {
                font-size: 13px;
            }

            &--chevron {
                font-size: 35px;
                color: v.$blockT-color;
                padding: 0;
                background: none;
                border: none;
                @media(min-width: v.$breakpoint-mobile) and (max-width: v.$breakpoint-desktop) {
                    font-size: 30px;
                    color: v.$blockT-color;
                }
                @media (max-width: v.$breakpoint-mobile) {
                    font-size: 23px;
                    color: v.$blockT-color;
                }
            }
        }

        &--description {
            min-height: 280px;
            color: v.$secondaryT-color;
            font-weight: 400;
            padding: 30px 20px 20px 20px;
            background-color: v.$secondaryB-color;
            margin-top: -10px;
            border-radius: 5px;
            z-index: 0;
            position: relative;
            @media(min-width: v.$breakpoint-mobile) and (max-width: v.$breakpoint-desktop) {
                font-size: 14px;
                padding: 25px 15px 15px 15px;
            }
            @media (max-width: v.$breakpoint-mobile) {
                font-size: 12px;
                padding: 20px 10px 10px 10px;
                min-height: auto;
            }
        }
        
        &--listEquipment {
            list-style: inside;
            min-height: 280px;
            padding: 30px 20px 20px 20px;
            background-color: v.$secondaryB-color;
            margin-top: -10px;
            border-radius: 5px;
            z-index: 0;
            position: relative;
            @media(min-width: v.$breakpoint-mobile) and (max-width: v.$breakpoint-desktop) {
                font-size: 14px;
                padding: 25px 15px 15px 15px;
            }
            @media (max-width: v.$breakpoint-mobile) {
                font-size: 12px;
                padding: 20px 10px 10px 10px;
                min-height: auto;
            }
        }
    }
}
