# Activer le moteur de réécriture
RewriteEngine On
# Si le fichier ou le dossier demandé n'existe pas
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
# Rediriger toutes les requêtes vers index.html
RewriteRule ^ index.html [L]
